version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend-1
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: frontend-1
    ports:
      - "5173:5173"
    environment:
      - VITE_BACKEND_URL=http://localhost:5000 # used by Vite dev server to proxy or make requests
    # volumes:
    #   - ./frontend:/app
    #   - /app/node_modules
    depends_on:
      - backend
    env_file:
      - ./backend/.env
