.visualizations-page {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 70px);
    padding: 70px 5%;
    background-color: #2A2A2A;
    color: white;
}

.visualizations-page-viz-tab-cont {
    width: 100%;
    margin-top: 30px;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    border: 3px solid #FFFFFF30;
}

.visualizations-page-viz-tab {
    padding: 8px 25px;
    font-size: 20px;
    background-color: #343434;
    border-radius: 10px;
    user-select: none;
}

.visualizations-page-viz-tab.selected {
    background-color: #2F4872;
}

.visualizations-page-viz-tab:hover {
    cursor: pointer;
}

.visualizations-page-content {
    margin-top: 30px;
    padding: 30px 50px;
    border-radius: 10px;
    border: 3px solid #FFFFFF30;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Reuse TaskPage course tab styles */
.task-page-course-cont {
    height: 80px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border: 3px solid #FFFFFF30;
}

.task-page-course {
    padding: 10px 30px;
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 10px;
    background-color: #343434;
}

.task-page-course:hover {
    cursor: pointer;
}

.task-page-course.selected {
    background-color: #2F4872;
}
