.edit-task {
    width: 50%;
    max-width: 950px;
    margin: auto;
    padding: 50px;
    padding-bottom: 10px;

    text-align: center;

    background-color: #2A2A2A;
    z-index: 100;
}

.edit-task-title {
    width: 100%;

    font-size: 40px;
    font-weight: bold;
}

/* course selection */
.edit-task-course-cont {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.edit-task-course {
    padding: 13px 30px;

    font-size: 14px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    border-radius: 10px;
    background-color: #343434;
}
.edit-task-course:hover {
    cursor: pointer;
}
.edit-task-course.selected {
    background-color: #2F4872;
}

/* task selection */
.edit-task-select-cont {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 50px;
    padding: 30px 20px;

    border-radius: 10px;
    border: 3px solid #FFFFFF30;
}

.edit-task-select-label-cont {
    margin-bottom: 15px;
    padding: 0 20px;

    font-size: 20px;

    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    user-select: none;
}
.edit-task-select-label-name { flex: 5; }
.edit-task-select-label-grade { flex: 1; }
.edit-task-select-label-time-spent { flex: 2; }
.edit-task-select-label-due-date { flex: 1; }
.edit-task-task-card-cont {
    height: fit-content;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}
.edit-task-task-card {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    min-width: 0;
    padding: 0 20px;

    font-size: 18px;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background-color: #525252;

    user-select: none;
}
.edit-task-task-card:hover {
    cursor: pointer;
}
.edit-task-task-card.selected {
    background-color: #2F4872;
}
.edit-task-dark-card {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    border-radius: 10px;
    user-select: none;
    background-color: #00000040;
}

.edit-task-task-card-name {
    text-align: left;
    flex: 5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.edit-task-task-card-grade,
.edit-task-task-card-due-date {
    text-align: left;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.edit-task-task-card-time-spent {
    text-align: left;
    flex: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* grade selection */
.edit-task-grade-weight-cont {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 13px 30px;

    font-size: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    border-radius: 10px;
    border: 3px solid #FFFFFF30;
}
.edit-task-grade-weight {
    padding: 7px 30px;

    font-size: 18px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    border-radius: 10px;
    background-color: #343434;
}
.edit-task-grade-weight:hover {
    cursor: pointer;
}
.edit-task-grade-weight.selected {
    background-color: #2F4872;
}

/* input sections */
.edit-task-section-title {
    width: 100%;

    text-align: left;

    font-size: 28px;
}

.edit-task-input-cont {
    width: 100%;
    height: 100%;
    position: relative;
}
.edit-task-text-input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 50px;
    padding: 15px 30px;

    font-size: 20px;

    outline: none;
    border-radius: 10px;
    border: 3px solid #FFFFFF30;
    background-color: transparent;
    * {
        color: #FFFFFF;
    }
}
.edit-task-text-input::-webkit-calendar-picker-indicator,
.edit-task-text-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 1;
}
.edit-task-text-input::-webkit-outer-spin-button,
.edit-task-text-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.edit-task-text-input[type=number] {
    -moz-appearance: textfield;
}

.edit-task-right-icon {
    position: absolute;
    right: 40px;
    top: calc( 50% - 22.5px );
    transform: translateY(-50%);

    font-size: 24px;
}

/* buttons */
.edit-task-button-cont {
    width: 100%;
    text-align: center;
}
/* .edit-task-add-task {
    width: fit-content;
    padding: 10px 30px;
    margin: auto;

    font-size: 20px;
    font-weight: bold;

    border-radius: 10px;
    background-color: #7EA16B;
}
.edit-task-add-task:hover {
    cursor: pointer;
} */

.edit-task-submit-task {
    width: fit-content;
    padding: 10px 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;

    font-size: 20px;
    font-weight: bold;

    border-radius: 10px;
    background-color: #7EA16B;
}
.edit-task-submit-task:hover {
    cursor: pointer;
}

.edit-task-delete-task {
    width: fit-content;
    padding: 7px 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;

    font-size: 16px;

    border-radius: 10px;
    background-color: #D72638;
}
.edit-task-delete-task:hover {
    cursor: pointer;
}

.edit-task-error {
  color: red;
  margin-top: 4px;
  font-size: 0.9rem;
}
/* Success popup for tasks */
.edit-task-success-popup {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #343434;
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
