.grades-viz-container {
  width: 100%; /* ensure it fills available space */
  max-width: 900px; /* optional: limit chart width */
  margin: 0 auto;   /* center chart */
  padding: 10px 20px;
}


.grades-viz-container h3 {
  margin-bottom: 10px;
}
