.signin-page {
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    background-color: #2a2a2a;
}

.signin-page-title {
    width: 100%;

    font-size: 64px;
    font-weight: bold;

    text-align: center;

    color: white;
}

.signin-page-description {
    width: 70%;
    margin-top: 100px;

    font-size: 36px;

    text-align: center;
    
    color: white;
}

.signin-page-button {
    width: fit-content;
    padding: 15px 30px;
    margin-top: 200px;
    
    font-weight: bold;
    font-size: 24px;

    text-align: center;

    border-radius: 10px;
    color: white;
    background-color: #2F4872;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #FFFFFF60;
    z-index: 1000;
}

.modal-content {
    padding: 30px;
    width: 400px;
    max-width: 90%;

    outline: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;

    border-radius: 15px;
    background-color: #FFFFFF;
}

.modal-close-button {
    margin-top: 16px;
    padding: 7px 20px;
    
    border: none;
    
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.modal-close-button:hover {
    cursor: pointer;
    background: #005fcc;
}

.error-label {
    font-size: 32px;
    font-weight: bold;
}

.error-message {
    font-size: 16px;
}