.signin-page {
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    background-color: #2a2a2a;
}

.signin-page-title {
    width: 100%;

    font-size: 64px;
    font-weight: bold;

    text-align: center;

    color: white;
}

.signin-page-description {
    width: 70%;
    margin-top: 100px;

    font-size: 36px;

    text-align: center;
    
    color: white;
}

.signin-page-button {
    width: fit-content;
    padding: 15px 30px;
    margin-top: 200px;
    
    font-weight: bold;
    font-size: 24px;

    text-align: center;

    border-radius: 10px;
    color: white;
    background-color: #2F4872;
}