* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Andale Mono", AndaleMono, monospace;
}
<<<<<<< HEAD
.page {
    height: 100vh;
    width: 100%;
}
=======
>>>>>>> 7ca0032843adc16fd489f3bcda3050ce8694ba9e

.color-blue {
    color: #A1B5D8;
}