* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Andale Mono", AndaleMono, monospace;
}

.page {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: #2A2A2A;
}

.color-blue {
    color: #A1B5D8;
}

.hidden {
    display: none;
}