.course-form-container {
  width: 95%;
  max-width: 950px;
  margin: auto;
  padding: 50px;
  padding-bottom: 10px;

  text-align: center;

  background-color: #2a2a2a;
  z-index: 100;
  border: 3px solid #ffffff30;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.course-form-title {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}

/* input sections */
.course-form-section-title {
  width: 100%;
  text-align: left;
  font-size: 28px;
}

.course-form-input-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.course-form-text-input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 50px;
  padding: 15px 30px;

  font-size: 20px;

  outline: none;
  border-radius: 10px;
  border: 3px solid #ffffff30;
  background-color: transparent;
  * {
    color: #ffffff;
  }
}

.course-form-right-icon {
  position: absolute;
  right: 40px;
  top: calc(50% - 22.5px);
  transform: translateY(-50%);
  font-size: 24px;
}

.course-form-text-input::-webkit-outer-spin-button,
.course-form-text-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.course-form-text-input[type="number"] {
  -moz-appearance: textfield;
}

/* grade weight */
.course-form-grade-weight-container {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 50px;
  padding: 30px 20px;

  border-radius: 10px;
  border: 3px solid #ffffff30;
}

.course-form-grade-card {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 50px;
  min-width: 0;
  padding: 0 20px;

  font-size: 18px;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
  background-color: #525252;

  user-select: none;
}

.course-form-grade-card-name {
  all: unset;
  box-sizing: border-box;
  width: 100%;

  text-align: left;
  flex: 5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-form-grade-card-weight {
  all: unset;
  box-sizing: border-box;
  width: 100%;

  text-align: right;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-form-grade-card-weight::-webkit-outer-spin-button,
.course-form-grade-card-weight::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.course-form-grade-card-weight[type="number"] {
  -moz-appearance: textfield;
}
